@media print {
  @page {
    margin: 50px 0;
  }

  @page :first {
    margin-top: 0;
  }

  body {
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    -ms-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #fff;
  }

  .main {
    margin: 0 auto;
    box-shadow: none;
  }

  .main-footer {
    display: none;
  }
}
