* {
  margin: 0;
  padding: 0;
}

body {
  font-family: '阿里巴巴普惠体 2 55 Regular', '微软雅黑', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  line-height: 1.6;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
em {
  font-weight: bold;
  color: #1b4255;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #1b4255;
}

code {
  white-space: nowrap;
}

ul li, ol li {
  list-style-type: none;
}